<h4>Research paper list</h4>

<table class="table table-hover">
  <thead>
      <tr>
      <th scope="col">SL</th>
      <th scope="col">Title</th>
      <th scope="col">File name</th>
      <th scope="col">Publish Date</th>
      <th scope="col"></th>
      </tr>
  </thead>
  <tbody><!--
      <tr *ngFor="let rpaper of service.rpaperList">
      <th scope="row"></th>
      <td>{{ rpaper.Title }}</td>
      <td>{{ rpaper.FileName }}</td>
      <td>{{ rpaper.Date }}</td>
      <td>
          <i class="fas fa-download fa-lg text-info" (click)="onDownload(rpaper.Id)" style="margin-right: 20px"></i>
      </td>
      </tr>-->
  </tbody>
</table>
