<body>
	<!-- Main Content -->
	<div class="main">
		<div class="main-w3l">
			<h1 class="logo-w3">Register Form</h1>
			<div class="w3layouts-main">
				<h2><span>Register now</span></h2>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
          <input placeholder="Full Name" formControlName="FullName" type="text" required="">
					<input placeholder="User name" formControlName="UserName" type="text" required="">
					<label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is mandatory.</label>
					<input placeholder="Email" formControlName="Email" type="email" required="">
					<label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>
					<input placeholder="Password" formControlName="Password" type="password" id="password1" required="">
					<label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
					<input placeholder="Confirm Password" formControlName="ConfirmPassword" type="password" id="password2" required="">
					<label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
          <input type="submit" value="Get Started" name="login" [disabled]="!service.formModel.valid">
        </form>
			</div>
			<!-- //main -->

			<!-- footer -->
			<div class="footer-w3l">
        <p> &copy; 2019 Touch your Dream. All Rights Reserved</p>
			</div>
			<!-- //footer -->
			
		</div>
	</div>
	<!-- //Main Content -->
</body>
