<!-- footer -->
<footer class="mrgin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="social-icons d-flex  my-auto justify-content-lg-start justify-content-center">
                    <h2 class="mr-4">stay connected :</h2>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 my-lg-auto mt-3">
                <div class="cpy-right text-lg-right text-center">
                    <p class="text-secondary">© 2019 Touch your Dream. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
