<!--<div class="se-pre-con"></div>-->
<!-- header -->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="d-flex header-agile">
                        <li>
                            <span class="fas fa-envelope-open"></span>
                            <a href="mailto:tyd@gmail.com" class="text-white">tyd@gmail.com</a>
                        </li>
                        <li>
                            <span class="fas fa-phone-volume"></span>
                            <p class="d-inline text-white">+456 123 7890</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <h1><a class="navbar-brand" href="index.html">
                        <span>T</span>ouch
                        <i class="w3-spacing"></i>
                        our<span >D</span>ream
                        <span>y</span>
                    </a></h1>
                <button class="navbar-toggler ml-lg-auto ml-sm-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center ml-auto">
                        <li class="nav-item active  mr-lg-3 mt-lg-0 mt-4">
                            <a class="hover-fill" routerLink="/" data-txthover="Home">Home</a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-4">
                            <a class="hover-fill" routerLink="/subject" data-txthover="Subject">Subject</a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-4">
                            <a class="hover-fill" routerLink="/about" data-txthover="About">About</a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-4">
                            <a class="hover-fill" routerLink="/contact" data-txthover="Contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-4">
                            <a class="hover-fill" href="#" data-txthover="Login" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login <span class="fas fa-sign-in-alt flash animated infinite login-sign"></span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" routerLink="/tlogin"><span class="fas fa-user-tie"></span> Teacher</a>
                                <div class="dropdown-divider"></div>
                                <a class="hover-fill" routerLink="/slogin"><span class="fas fa-users"></span> Student</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- //header -->
