<!-- contact -->
<section class="wthree-row pt-5">
    <div class="container py-lg-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile">contact us</h3>
            <div class="title-line">
            </div>
        </div>
    </div>
    <div class="w3-contact pb-5">
        <div class="container">
            <div class="row contact-form">
                <div class="col-lg-8 wthree-form-left">
                    <!-- contact form grid -->
                    <div class="contact-top1">
                        <h5 class="mb-4 text-capitalize">send us a note</h5>
                        <form action="#" method="get" class="contact-wthree">
                            <div class="form-group d-flex">
                                <label>
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                </label>
                                <input class="form-control inpt-size" type="text" placeholder="Enter your name..." name="email"
                                    required="">
                            </div>
                            <div class="form-group d-flex">
                                <label>
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                </label>
                                <input class="form-control inpt-size" type="email" placeholder="Enter your email..." name="email"
                                    required="">
                            </div>
                            <div class="form-group d-flex">
                                <label>
                                    <i class="far fa-edit"></i>
                                </label>
                                <input class="form-control inpt-size" type="text" placeholder="Subject" name="email" required="">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="contact-comment" placeholder="Your message"
                                    required></textarea>
                            </div>
                            <div class="d-flex  justify-content-end">
                                <button type="submit" class="btn btn-info btn-block w-25">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!--  //contact form grid -->
                </div>
                <!-- contact details -->
                <div class="offset-lg-1"></div>
                <div class="col-lg-3">
                    <div class="address">
                        <address>
                            <p class="contact-title">location 1</p>
                            <p class="c-txt">Dhanmondi 27
                                <br>Dhaka, Bangladesh
                                <br> +456 123 7890
                            </p>
                        </address>
                    </div>
                    <div class="address">
                        <address>
                            <p class="contact-title">location 2</p>
                            <p class="c-txt">Dhanmondi 32
                                <br>Dhaka, Bangladesh
                                <br> +456 123 7890
                            </p>
                        </address>
                    </div>
                    
                </div>
                <!-- //contact details -->
            </div>
        </div>
    </div>
</section>
<!-- contact map grid -->
<div class="map contact-right p-lg-5 pb-5 px-3">
    <div class="container">
        <div class="title-section pb-4">
            <h3 class="main-title-agile">get directions</h3>
            <div class="title-line">
            </div>
        </div>
        <iframe class="mt-lg-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509162.831475898!2d-123.79818215689443!3d37.19305185672543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1sen!2sin!4v1535716535953"
            allowfullscreen></iframe>
    </div>
</div>
<!-- //contact map grid -->
