<div class="row justify-content-center align-items-center no-gutters banner-agile bg-theme">
    <!-- Carousel -->
    <div class="col-lg-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <!-- slider text -->
                <div class="carousel-item bg1 active">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
                <div class="carousel-item bg2">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
                <div class="carousel-item bg3">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
                <div class="carousel-item bg4">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
                <div class="carousel-item bg5">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
            </div>
        </div>
    </div>
    <!-- //Carousel -->
    <!-- //banner -->
    <div class="col-lg-4 px-3">
        <div class="wthree-form">
            <h3>Your dream convert to reality</h3>
            <ul class="list-group mt-lg-3 pb-lg-0 pb-3">
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Find your goal</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Choose career path</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Choose subject</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Growth skill</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Make resume</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Prepare you for scholarship</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Make you perfect</li>
                <li class="list-group-item border-0">
                    <i class="fas fa-check mr-3"></i>Get your dream job</li>
            </ul>
        </div>
    </div>
    <!-- //banner -->
</div>
